@import '/src/styles/colors';

.__timeSelector {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: stretch;
	align-items: center;
	grid-template-areas:
		'hoursDecreaser hoursSelector hoursIncreaser'
		'minutesDecreaser minutesSelector minutesIncreaser';
	&__hoursIncreaser {
		grid-area: hoursIncreaser;
	}
	&__hoursDecreaser {
		grid-area: hoursDecreaser;
	}
	&__minutesDecreaser {
		grid-area: minutesDecreaser;
	}
	&__minutesIncreaser {
		grid-area: minutesIncreaser;
	}
	&__hoursSelector {
		grid-area: hoursSelector;
	}
	&__minutesSelector {
		grid-area: minutesSelector;
	}
}
